.whole-panel{

	width:1020px;
	height: 720px;
	margin-top: 25px;
	margin-left: 120px;
}


.uploadimg{
	float: left;
	margin-top:30px;
	
	max-width:1020px;
	max-height: 320px;
	border-radius: 100%;

}



.textbox{
	width: 100%;
	border: none;
	border-bottom: 1px solid #0d7e71;
	background-color: #fafafa;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 15px;
	box-shadow: none;
	padding: 10px 16px;
	margin-bottom: 10px;
	color: #000;
	text-align: center;
	}

	.post-btn{
	padding: 13px 16px;
	border: none;
	width: 507px;
	margin-top: 20px;
	background-color: #b71757;
	color: #fff;
	font-size: 17px;
	display: inline-block;
}

.post-btn:hover{
	background-color: #8cc842;
	color: #fff;
	transition: 0.5s;
}


	.cancel-btn{
	padding: 13px 16px;
	border: none;
	width: 507px;
	margin-top: 20px;
	background-color: #cdd7d6;
	color: #000;
	font-size: 17px;
	display: inline-block;
}

.cancel-btn:hover{
	background-color: #0d7e71;
	color: #fff;
	transition: 0.5s;
}

.back-button{
margin-top: 10px;
padding: 8px 16px;
width: 45px
height:35px;
border-radius: 20px;
border: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;

}


.back-button:hover{
background-color: #0b192f;
color: #fff;
transition: 0.6s;
}