.whole-panel{
	width:1020px;
	height: 700px;
	margin-top: 25px;
	margin-left: 120px;
}
.left-panel{
	width: 360px;
	height: 700px;
	background-color: #b71757;
	display: inline-block;

}


.link-panel{
	margin-top: -7px;
	width: 360px;
	height: 50px;
	border-left: 4px solid #b71757;
margin-top: 20px;


}
.link-panel a{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 41px;
	padding: 10px 16px;
	color: #fff;


	
}



.right-panel{
	width: 660px;
	height: 700px;
	background-color: #fafafa;
	float: right;
	display: inline-block;
	box-shadow:-6px -1px 5px  #000;
}

.upload-text{
	font-size: 15px;
	font-family: 'Roboto',sans-serif;
	color: #000;
	font-weight: 300;
	margin-top: 10px;
}

.uploadimg{
	float: left;
	margin-top:30px;
	margin-left:270px ;
	
	max-width:120px;
	max-height: 120px;
	border-radius: 100%;

}


.forms{
width: 100%;
padding: 8px 16px;
margin-top: 250px;
}

.textbox{
	width: 100%;
	border: none;
	border-bottom: 1px solid #0d7e71;
	background-color: #fafafa;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 15px;
	box-shadow: none;
	padding: 10px 16px;
	margin-bottom: 10px;


}

.forms label{
	color: #000;
	font-size: 20px;
	margin-bottom: 10px;
}