.navbar{
	background-color: transparent;
	border-bottom: none;
	color:#fff;
}

.navbar-brand {
    color: #fff;
}

.login-bg{
	width:100%;
	height:693px;
	background-image: url('../img/login-background.jpg');
	position: fixed;

}
.login-bg h1{
	color: #fff;
	font-family: 'Oswald',sans-serif;
	font-size: 7em;
	text-transform: uppercase;

}

.login-bg p{
	color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

.login-text{
	margin-left: 30px;
	margin-top: 200px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.login-box{
width:350px;
height: 400px;
background-color: #fff;
margin-top: -250px;
margin-right:60px;
float: right;
box-shadow: 8px 8px 15px #000;
}


.login-form{
	padding: 15px;
	margin-top: 40px;

}

.login-textbox{
	height: 45px;
	border-radius: 20px;
	border: none;
	border: 1px solid #0d7e71;
	background-color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 15px;
	box-shadow: none;
}

.login-button{
	padding: 13px 16px;
	border: none;
	width: 320px;
	margin-top: 20px;
	background-color: #b71757;
	color: #fff;
}

.login-button:hover{
	background-color: #0d7e71;
	color: #fff;
	transition: 0.5s;
}