.whole-panel{

	width:1020px;
	height: 720px;
	margin-top: 25px;
	margin-left: 120px;
}

.left-panel{
	width: 360px;
	height: 250px;
	background-color: #b71757;
	display: inline-block;

}

.halfleft-panel{
	background-color: #fff;
	height: 440px;
}

.right-panel-topbar{
	background-color: #b71757;
	height: 45px;
}

.add-post-btn{
	border:none;
	background-color: #b71757;
	color: #fff;
	font-size: 20px;
	font-family: 'Roboto',sans-serif;
	font-weight: 100;
	padding: 10px 16px;
	width: 210px;
	margin-left: 3px;
}

.add-post-btn:hover{
	background-color: #0b192f;
	color: #fff;
	transition: 0.6s;
}

.right-panel{
	width: 650px;
	height: 720px;
	background-color: #fafafa;
	float: right;
	display: inline-block;
	box-shadow:-6px -1px 5px  #000;
}

.editprof-button{
margin-top: 10px;
padding: 8px 16px;
width: 45px
height:35px;
border-radius: 20px;
border: none;
font-family: 'Roboto',sans-serif;
font-weight: 300;

}

.editprof-button:hover{
background-color: #0b192f;
color: #fff;
transition: 0.9s;
}


.left-panel h1{
	font-family: 'Roboto',sans-serif;
	margin-top: 10px;
	color: #fff;
	font-size: 22px;
}

.left-panel h2{
font-family: 'Roboto',sans-serif;
font-weight: 300;
	margin-top: 30px;
	padding-top: 20px;
	color: #000;
	font-size: 22px;
}

.description h2{
	
	font-size: 21px;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	color: #000;
}

.description{
	font-size: 15px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	
}


.profilepic{
	width: 120px;
	height: 120px;
	border-radius: 100%;

	margin-top: 25px;
	border: 5px solid #fff;
}


.left-panel h2{
	font-size: 19px;
	
}

.left-panel h3{
	font-size: 17px;
	font-family: 'Oswald',sans-serif;
	display: inline-block;
	color:#000;

}

.left-panel p{
	color: #000;
	
}


.proftext-right{
	margin-top: -50px;
	float: right;
	margin-right: 200px;

}

