.navbar{
	background-color: transparent;
	border-bottom: none;
	color:#fff;
}

.navbar-brand {
    color: #fff;
}

.signup-bg{
	width:100%;
	height:693px;
	background-image: url('../img/signup-background.jpg');
	position: fixed;
}


.signup-bg h1{
	color: #fff;
	font-family: 'Oswald',sans-serif;
	font-size: 7em;
	text-transform: uppercase;

}

.signup-bg p{
	color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 1.5em;
}

.signup-text{
	margin-right: 100px;
	margin-top: 200px;
	float: right;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.signup-box{
width:350px;
height: 500px;
background-color: rgba(5, 63, 121, 0.89);
margin-top: 10px;
margin-left:10px;
float: left;
box-shadow: 8px 8px 15px #000;
}


.signup-form{
	padding: 15px;
	margin-top: 25px;

}

.signup-textbox{
	height: 45px;
	border-radius: 20px;
	border: none;
	border: 1px solid #b1660e;
	background-color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	font-size: 15px;
	box-shadow: none;
}

.signup-button{
	padding: 13px 16px;
	border: none;
	width: 315px;
	margin-top: 20px;
	background-color: #d12767;
	color: #fff;
}

.signup-button:hover{
	background-color: #b1660e;
	color: #fff;
	transition: 0.5s;
}

.icon{
	color: #fff;
}