<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>BestPerience | Share your Best Experience
      </title>
      <meta name="description" content="Download free amazing responsive Fashion Blog template."/>
      <meta name="keywords" content="free, responsive, blog, fashion, web site, template"/>
	  <link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
      <link rel="stylesheet" href="{{asset('assets/css/components.css')}}">
      <link rel="stylesheet" href="{{asset('assets/css/responsee.css')}}">
		{% block style %}
		{% endblock %}
      <!-- CUSTOM STYLE -->       
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{asset('assets/css/template-style.css')}}">
      <script type="text/javascript" src="{{asset('assets/js/jquery-1.8.3.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('assets/js/jquery-ui.min.js')}}"></script>    
      <script type="text/javascript" src="{{asset('assets/js/modernizr.js')}}"></script>
      <script type="text/javascript" src="{{asset('assets/js/responsee.js')}}"></script>          
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]-->  


      <!--My Css-->   
      <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/style.css">

      <!--Linear Icon-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->          
      <header class="margin-bottom">
         <div class="line">
            <nav>
               <div class="top-nav">
                  <p class="nav-text"></p>
                  <a class="logo" href="{{path('user_post_list')}}">            
                  Best<span>Perience</span>
                  </a>            
                  <h1>Share your best experience ever!</h1>
                  <ul class="top-ul right">
                     <li>            
                        <a href="{{path('user_post_list')}}">Home</a>            
                     </li>
                     <li>            
                        <a href="{{path('user_myaccount')}}">My Profile</a>            
                     </li>
                     <li>            
                        <a href="{{path('user_post_add')}}">Add Article</a>            
                     </li>
                              <li>            
                        <a href="{{path('about')}}">About</a>            
                     </li>
                     {# <li>            
                        <a href="{{path('contactus')}}">Contact</a>            
                     </li> #}
                     <li>            
                        <a href="{{path('login')}}">Logout</a>            
                     </li>
                     <div class="social right">	                 
                     </div>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- MAIN SECTION --> 
	  
 {# <section id="home-section" class="line">                  #}
			 {% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-notice">
							{{ message }}
						</div>
						{% endfor %}
					{% endfor %}	
				{% block body %}
	
			

    	
  
        		{% endblock %}

		{# </section> #}
      
   </body>
</html>