{% extends "::loggedin.html.twig" %}

{% block title %}Contact Us{% endblock %}

{% block body %}

		
<hr>
<div>

	<div class="info">
  	<a href="https://www.facebook.com/RonCruz28" target="_blank" src="{{asset('assets/image/Books/ron.jpg')}}">
    <center>
    <img src="{{asset('assets/image/Books/ron.jpg')}}" style="max-height: 500px; max-width: 500px;" >
    </img>
  </a>
	 <div class="infodesc"><b> Gerone Cruz </b></div>
  	<div class="number">09369948215</div>



  <a href="https://www.facebook.com/kakarlka" target="_blank" src="{{asset('assets/image/Books/karl1.jpg')}}">
    <center>
    <img src="{{asset('assets/image/Books/karl1.jpg')}}"  style="max-height: 500px; max-width: 500px;" >
    </img>
    </center>
  </a>
  <div class="infodesc"><b> Karl Augustine Relovasa </b></div>
   <div class="number">09367842951</div>



	  <a href="https://www.facebook.com/pvqkeem125" target="_blank" src="{{asset('assets/image/Books/kim.jpg')}}">
    <center>
    <img src="{{asset('assets/image/Books/kim.jpg')}}" style="max-height: 500px; max-width: 500px;">
  	</img>
    </center>
    </a>
  	<div class="infodesc"><b> Kim Phillip Quinones </b></div>
     <div class="number">09367701976</div><br>
	</div>

	<div class="info">
  	<a href="https://www.facebook.com/profile.php?id=100010502681906" target="_blank" src="{{asset('assets/image/Books/lex.jpg')}}">
    	<center>
      <img src="{{asset('assets/image/Books/lex.jpg')}}" style="max-height: 500px; max-width: 500px;">
  	  </img>
      
    </a>
  	<div class="infodesc"><b> John Lex Pangilinan </b></div>
    	 <div class="number">09453377989</div><br>

       </center>
	</div>

</div>
<br>





<div class="info">
  <a href="https://www.facebook.com/ButskiButski" target="_blank" src="{{asset('assets/image/Books/buts.jpg')}}">
    	<center>
    <img src="{{asset('assets/image/Books/buts.jpg')}}"style="max-height: 500px; max-width: 500px;">
    </img>
  </a>
  <div class="infodesc"><b> Meryll Butay </b></div>
     <div class="number">09174584671</div><br>
     </center>
</div>

<div class="info">
  <a href="https://www.facebook.com/judeyahhh" target="_blank" src="{{asset('assets/image/Books/barts.jpg')}}">
    	<center>
    <img src="{{asset('assets/image/Books/barts.jpg')}}" style="max-height: 500px; max-width: 500px;">
    </img>
  </a>
  <div class="infodesc"><b> Maria Judea Bartolome </b></div>
   <div class="number">09751364897</div><br>
   </center>
   
</div>
</div>



{% endblock %}

