<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>BestPerience | Share your Best Experience
      </title>
      <meta name="description" content="Bestperience! Share Your Best Experience Ever"/>
      <meta name="keywords" content=" blog, experience"/>
	  <link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">   
      <link rel="stylesheet" href="{{asset('assets/css/components.css')}}">
      <link rel="stylesheet" href="{{asset('assets/css/responsee.css')}}">
	 	{% block styles %}
	

    	{% endblock %}
	  
      <!-- CUSTOM STYLE -->       
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{{asset('assets/css/template-style.css')}}">
      <script type="text/javascript" src="{{asset('assets/js/jquery-1.8.3.min.js')}}"></script>
      <script type="text/javascript" src="{{asset('assets/js/jquery-ui.min.js')}}"></script>    
      <script type="text/javascript" src="{{asset('assets/js/modernizr.js')}}"></script>
      <script type="text/javascript" src="{{asset('assets/js/responsee.js')}}"></script>      
	    
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]-->     

      <!--Linear Icon-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<!--Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body class="size-1140" styles=" background-color: #336699;">
      <!-- TOP NAV WITH LOGO -->          
      <header class="margin-bottom">
         <div class="line">
            <nav>
               <div class="top-nav">
                  <p class="nav-text"></p>
                  <a class="logo" href="index.php">            
                  Best<span>Perience</span>
                  </a>            
                  <h1>Share your Best Experience ever!
                  </h1>
                  <ul class="top-ul right">
                     <li>            
                        <a href="index.php">Home</a>            
                     </li>
                     
                     <li>            
                        <a href="about.php">About</a>            
                     </li>
                     <li>            
                        <a href="contact.php">Contact</a>            
                     </li>
                     <li>            
                        <a href="contact.php">Login</a>            
                     </li>
                     <div class="social right">	           
                              
                     </div>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- MAIN SECTION -->                  
      <section id="article-section" class="line">
         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-12">
               <!-- ARTICLE 1 -->               
               <article class="margin-bottom">
                  <!-- text -->                 
                  <div class="post-text">
				 	
                
         
           
      <!-- FOOTER -->       
      <div class="line">
         <footer>
            <div class="s-12 l-8">
               <p>
                  Bartolome - Butay - Cruz - Pangilinan - Qionones - Relovasa <br>
                  A project of Sir Noel Antonio
               </p>
            </div>
            <div class="s-12 l-4">		                            
                                    
            </div>
         </footer>
      </div>
   </body>
</html>