{% extends "::loggedin.html.twig" %}

{% block title %}Contact Us{% endblock %}

{% block body %}

		


<table class="table table-hover">
<thead>
	<td>Contact us @ EmailUs@yahoo.com.ph !</td>
	

</thead>
</table>
<div class="contactus">
<h2>Contact Us</h2>
<i class="fa fa-envelope"></i>
<br>
<i class="fa fa-map-marker"></i>
</div>
</div>




<div class="form ">
<form >
	<input type="text" class="input" id="name" name="Fullname" placeholder="Full Name">


	<input type="text" class="input" id="email" name="emailadd" placeholder="Email Address">


	<input type="text" class="input" id="message" name="message" placeholder="Your Message">

	<br>
	<input type="submit" class="submitbutton" value="Submit">
	</center>
</form>
</div>





{% endblock %}
