
{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}
{% block style %}<link rel="stylesheet" href="{{asset('assets/css/login.css')}}">{% endblock %}

{% block body %}




    {% if error %}
        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

     
        
<div class="login-text" >
<h1 style="color: white;">
    Bestperience
</h1>
<p>Share your best experience!</p>
</div>

<div class="login-box">
  <center>
<p style="font-family: 'Roboto',sans-serif;color: #000;margin-top: 40px">
  Login with BestPerience
</p>
</center>


 <form action="{{ path('login') }}" method="post">

<div class="login-form">
 <div class="form-group">
  <input type="text" class="form-control login-textbox " id="usr" placeholder="Username" name="_username" value="{{ last_username }}" >
</div>
<div class="form-group">
  <input type="password" class="form-control login-textbox" id="pwd" placeholder="password" name="_password">
  <button class="login-button" onclick="location.href='index.php';"><span class="lnr lnr-enter icon" ></span>&nbsp;Login</button>
<input type="hidden" name="_target_path" value="{{path('checkRole')}}" />
  {# <button class="btn btn-default"type="submit">Login</button> #}
 </form> 

  <p style=" color:#000; font-size: 15px; margin-top: 10px; ">Don't have an account? <a href="{{path('registration')}}">Register</a></p>
</div> 
</div>

{% endblock %}
