{% extends "::loggedin.html.twig" %}

{% block title %}Add Blog{% endblock %}

{% block body %}
 <section id="home-section" class="line">                 
	{{form_start(form)}}

		<div class="" style="padding-left: 100px; padding-right:100px; padding-top:50;padding-bottom:50; background-color: #19334d; margin: 10px">
			<div class="panel-heading" style="margin-bottom: 10px; font-size: 20px;">Add Article</div>
				<div class="form-group">
					{{form_row(form.img, {'attr': {'class': 'form-control'}} )}}
				</div>
				<div class="form-group">
					{{form_row(form.title, {'attr': {'class': 'form-control text-center', 'placeholder': 'Title'}} )}}
				</div>
				<div class="form-group">
					{{form_row(form.content, {'attr': {'class': 'form-control' 	 , 'placeholder': 'Content'}} )}}
				</div>
			
			
			<button class="btn btn-primary" type="submit">Post</button>		

			
		</div>

	{{form_end(form)}}
</section>
{% endblock %}