{% extends "::loggedin.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

{# <a class="btn btn-success btn-xs" title="View" href="{{path('user_post_add')}}"><i class="fa fa-eye"></i>add</a>  #}

 <section id="home-section" class="line">   

 <center><h2 style="color:white;">Articles</h2></center>
{%for Post in Posts%}
		
			
			
				{# <a class="" title="View" href="{{path('user_post_view',{id:Post.id})}}">view</a> 
				<a class="" title="edit" href="{{path('user_post_update',{id:Post.id})}}"> edit</i></a> 
				<a class="text-danger" title="Remove" href="{{path('user_post_remove',{id:Post.id})}}"> emove</a> #}
			
			
			
			{#<td> <img src="{{asset('uploads/image/')}}{{Post.img}}" style="max-height:100px; max-width: 150px;"/></td>#}
		
		

         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-12">
            
                <!-- ARTICLE 1 -->               
               <article class="post-{{random(4)+1}} line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image"> 
				  	<center>                  
                     <a href="{{path('user_post_view',{id:Post.id})}}">
                     <img src="{{asset('uploads/image/')}}{{Post.img}}" alt="{{Post.title}}" style="max-height:300px; max-width: 200px;">
                     </a>
					 </center>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="{{path('user_post_view',{id:Post.id})}}">
                        <h2>{{Post.title}} </h2>
                     </a>
                     <p>{{Post.Content}}</p>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
				  	
                     <p class="date"{{Post.date|date('d')}}</p>
                     <p class="month">mar {{Post.date|date('M')}}</p>
                  </div>
               </article>
               
            </div>
           
         </div>


{%endfor%}
</section>

{% endblock %}