{% extends "::loggedin.html.twig" %}

{% block title%} Update Article {% endblock %}

{% block body %}
{#


{{ form_start(form) }}
    
    
    {{ form_row(form.title,  {'attr': {'requidred': 'false'}}) }}
    <img src="{{asset('uploads/image/')}}{{postimg}}" style="max-height:100px; max-width:100px;"/>
    {{ form_row(form.img,  {'attr': {'requirsed': 'false'}}) }}
    {{ form_row(form.content,  {'attr': {'requdired': 'false'}}) }}
    <button type="submit">update!</button>

{{ form_end(form) }}

#}

{% for p in Post %}

    {{p.title}}

    <img src="{{asset('uploads/image/' ~ p.img)}}" style="max-height:200px; max-width: 150px;" />

    {{p.content}}

    {{p.date|DateTime('mm:d')}}

{% endfor %}




{% endblock %}