{% extends "::loggedin.html.twig" %}

{% block title%} Update Article {% endblock %}

{% block body %}


{{ form_start(form) }}
    {#{{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.email) }}#}

    <center>
    <img src="{{asset('uploads/image/')}}{{postimg}}" style="max-height:500px; max-width:500px;"/>
    </img>
    </center>
    <div class="row ">
        <div class = "" style="margin-left: 300px; margin-right:300px; margin-top:50; background-color: #19334d; padding: 10px">
    {{ form_row(form.img,  {'attr': {'requirsed': 'false'}}) }}
    {{ form_row(form.title,  {'attr': {'requidred': 'false'}}) }}
    
    
    {{ form_row(form.content,  {'attr': {'requdired': 'false'}}) }}
    
    <button class="btn btn-primary" type="submit">Update</button>

    </div>
    </div>
{{ form_end(form) }}





{% endblock %}