{% extends "::loggedin.html.twig" %}

{% block title%} Update Article {% endblock %}

{% block body %}


 <section id="home-section" class="line">   

<div style="padding-right: 150px; padding-left: 150px; margin: 10px">
    <center>
    <img src="{{asset('uploads/image/' ~ Post.img)}}" style="max-height:500px; max-width: 500px;" />


    <h1 style="color: white;">{{Post.title}}</h1>
    </center>
    <p>{{Post.content}}</p>
    Date: {{Post.date|date('M/d/Y')}}

</div>
<br/>
<br/>
<br/>
<div style="padding-right: 300px; margin: 10px">
<label>Comments</label>

{% for c in comments %}
    <div style="margin: 5px;">
        <div style="background-color: #204060;">
            <label>{{c.name}} : </label>
            <p style="display: inline;">{{c.comment}}</p>
            {%if(checkUser == "true")%}
            <div class="pull-right">
                <a class="" style="color: white;" title="remove" href="{{path('edit_comment',{id:c.id})}}">edit</a> 
                <a class="" style="color: pink;"title="remove" href="{{path('remove_comment',{id:c.id})}}">remove</a>
            </div>
                
            {% endif %}
        </div>
    </div>
        
        
{% endfor %}


<br/>


{{form_start(form)}}
    
    {{form_row(form.comment)}}
    <button class="btn btn-primary" type="submit">Comment</button>
{{form_end(form)}}
</div>
</section>
{% endblock %}