{% extends "::loggedin.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}



{{ form_start(form) }}
  
    {#{{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.email) }}#}

    <div class="row ">
        <div class = "" style="margin-left: 300px; margin-right:300px; margin-top:50; background-color: #19334d; padding: 10px">
            <center><h2 style="color: white;">Edit Profile</h2></center>
           
                    <img src="{{asset('uploads/image/')}}{{userimg}}" style="max-height:100px; max-width:100px;"/>
                    {{ form_row(form.img,  {'attr': {'requirsed': 'false'}}) }}
                    {{ form_row(form.name,  {'attr': {'requidred': 'false'}}) }}
                    
                    {{ form_row(form.birthdate,  {'attr': {'requdired': 'false'}}) }}
                    {{ form_row(form.address,  {'attr': {'requidred': 'false'}}) }}
                    {{ form_row(form.description,  {'attr': {'requdired': 'false'}}) }}
                    <button class="btn btn-primary" type="submit">Update!</button>
        </div>
    </div>
   
{{ form_end(form) }}
    



{% endblock %}