
{% extends "::loggedin.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1>Welcome to the Post:list page</h1>

    <a href="{{path('admin_changePassword',{id:userid})}}">Change Password</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="20%">Image</th>
                <th width="20%">username</th>
                <th  width="20%">Name</th>
                <th  width="20%">Email</th>
                <th  width="20%">Action</th>
                {#<th>Address</th>
                <th>Birthday</th>
                 <th>Description</th>#}
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
                <tr>
                    <td><center><img src="{{asset('uploads/image/')}}{{user.img}}" style="max-height:100px; max-width:100px;"/></center> </td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    
                    <td><a href="{{path('admin_update_userProfile',{id:user.id})}}">update</a> <a href="">remove</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>

            
    
{% endblock %}
