
{% extends "::loggedin.html.twig" %}

{% block title %}Articles{% endblock %}
{% block style%}<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}"> {%endblock%}

{% block body %}



<div class="whole-panel">

<div class="left-panel">
  <center><img class="profilepic " src="{{asset('uploads/image/')}}{{users.img}}">
  <h1><span class="lnr lnr-user"></span>&nbsp;{{users.username}}</h1>
 <a class="editprof-button btn btn-default" href="{{path('admin_update_userProfile',{id:users.id})}}"><span class="lnr lnr-pencil"></span>&nbsp;Edit Profile</a>
 <a class="editprof-button btn btn-default" href="{{path('admin_changePassword',{id:users.id})}}"><span class="lnr lnr-pencil"></span>&nbsp;Change Password</a>
 
                    
 <div class="halfleft-panel">
 <h2><span class="lnr lnr-pushpin"></span>&nbsp;Profile</h2>

<h3><span class="lnr lnr-license"></span>&nbsp;Name:</h3>
  <p>{{users.name}}</p>
  <h3><span class="lnr lnr-calendar-full"></span>&nbsp;Birthdate:</h3>
  <p>  {{users.birthdate|date('M/d/Y')}}</p>

  <h3><span class="lnr lnr-map-marker"></span>&nbsp;Address:</h3>
  <p>{{users.address}}</p>

    <div class="description">
        <h3>About me</h3>
        <p>{{users.description}}</p>
    </div>
   

</div>


 </center>
</div>

	{# <a class="" title="View" href="{{path('user_post_view',{id:Post.id})}}">view</a> 
				<a class="" title="edit" href="{{path('user_post_update',{id:Post.id})}}"> edit</i></a> 
				<a class="text-danger" title="Remove" href="{{path('user_post_remove',{id:Post.id})}}"> emove</a> #}
<div class="right-panel">
    <div>
     <h2 > My Articles</h2>
     </div>
    <a class="editprof-button btn btn-default pull-right" href="{{path('user_post_add')}}"><span class="lnr lnr-pencil"></span>&nbsp;Add Article</a>
<div class="right-panel-topbar">

  {# <button class="add-post-btn" onclick="location.href='addpost.php';"><span class="lnr lnr-plus-circle"></span>&nbsp;Add Post</button> #}
   {# <button class="add-post-btn" onclick="location.href='addpost.php';"><span class="lnr lnr-pencil"></span>&nbsp;Edit Post</button>
    <button class="add-post-btn" onclick="location.href='profile.php';"><span class="lnr lnr-trash"></span>&nbsp;Delete Post</button> #}
 </div>
    {%for Post in userpost%}

    



          <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-12">
            
                <!-- ARTICLE 1 -->               
               <article class="post-{{random(4)+1}} line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image"> 
				  	<center>                  
                     <a href="{{path('user_post_view',{id:Post.id})}}">
                     <img src="{{asset('uploads/image/')}}{{Post.img}}" alt="{{Post.title}}" style="max-height:300px; max-width: 200px;">
                     </a>
					 </center>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="{{path('user_post_view',{id:Post.id})}}">
                        <h2 style="color: white;">{{Post.title}} </h2>
                     </a>
                     <p>{{Post.Content}}</p>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
				  	
                     <p class="date"{{Post.date|date('d')}}</p>
                     <p class="month">mar {{Post.date|date('M')}}</p>
                  </div>
                  <a class="w3-color-white"   style="color: white;" title="edit" href="{{path('user_post_update',{id:Post.id})}}"> edit</i></a>&nbsp; 
				    <a class="text-danger" style="color: white;" title="Remove" href="{{path('user_post_remove',{id:Post.id})}}"> remove</a>
               </article>
               
            </div>
           
         </div>

         {%endfor%} 






    
{% endblock %}
