{% extends "::base.html.twig" %}



{% block title %}Register{% endblock %}
{% block style %}<link rel="stylesheet" href="{{asset('assets/css/signup.css')}}">{% endblock %}

{% block body %}


<div class="signup-text" >
<h1>
    Bestperience
</h1>
<p>Share your best experience!</p>
</div>

<div class="signup-box" style="background-color: ">
  <center>
<p style="font-family: 'Roboto',sans-serif;color: white;margin-top: 40px">
  Sign Up now with BestPerience
</p>
</center>
{{ form_start(form) }}
<div class="signup-form">
 <div class="form-group">
 {{form_errors(form.username )}}
    {{ form_row(form.username) }}
</div>
<div class="form-group">
  
    {{form_errors(form.email)}}
    {{ form_row(form.email) }}
</div>
<div class="form-group">
  {{form_errors(form.plainPassword.first)}}
    {{ form_row(form.plainPassword.first) }}
     {{form_errors(form.plainPassword.second)}}
    {{ form_row(form.plainPassword.second) }}
     <button class="btn btn-primary btn-block" type="submit">Register!</button>


  <p style=" color:white; font-size: 15px; margin-top: 10px; ">Already have an account? <a href="{{path('login')}}" style="color: white;">Login</a></p>
</div> 
</div>






   
    
   
    

{{ form_end(form) }}
    
    

{% endblock %}
